<div class="right-panel-wrap no-padding-right">
    <div class="dashboard-content">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div
                    class="block-container chart-wrapper donut-chart-wrap semi-block d-flex align-items-center justify-content-center flex-wrap p-b-0">
                    <div class="head-global head-full">
                        <h3>Current <span>Allocation</span></h3>
                    </div>
                    <div class="graph-labels label-left">
                    </div>
                    <div *ngIf="currentAllocationData && currentAllocationData?.length > 0">
                        <google-chart #chart [title]="currentAllocationTitle" [type]="currentAllocationType"
                            [data]="currentAllocationData" [columnNames]="columnNames"
                            [options]="currentAllocationOption" [width]="currentAllocationWidth"
                            [height]="currentAllocationHeight">
                        </google-chart>
                    </div>
                    <div *ngIf="currentAllocationData?.length <= 0" style="text-align: center;color:red ;width: 100%;">
                        Data not found
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div
                    class="block-container chart-wrapper donut-chart-wrap semi-block d-flex align-items-center justify-content-center flex-wrap p-b-0">
                    <div class="head-global head-full">
                        <h3>Recommended <span>Allocation</span></h3>
                    </div>
                    <div *ngIf="currentAllocationData && currentAllocationData?.length > 0"
                        class="ct-chart do-nut-chart-allocation">
                        <google-chart #chart [title]="currentAllocationTitle" [type]="currentAllocationType"
                            [data]="currentAllocationData" [columnNames]="columnNames"
                            [options]="currentAllocationOption" [width]="currentAllocationWidth"
                            [height]="currentAllocationHeight">
                        </google-chart>
                    </div>
                    <div *ngIf="currentAllocationData?.length <= 0" style="text-align:center ;color:red">
                        Data not found
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-container no-bdrs-top-right no-bdrs-botton-right semi-block">
                    <div class="hpd-table">
                        <div class="heading">
                            <h3>Historical Performance Difference</h3>
                        </div>
                        <div class="responsive-table">
                            <table class="trade-table">
                                <thead>
                                    <th>Portfolio</th>
                                    <th>1-Year</th>
                                    <th>3-Year</th>
                                    <th>5-Year</th>
                                </thead>
                                <tbody>
                                    <tr class="normal-tr">
                                        <td>Existing</td>
                                        <td>{{existing.oneyear}}%</td>
                                        <td>{{existing.threeyear}}%</td>
                                        <td>{{existing.fiveyear}}%</td>
                                    </tr>
                                    <tr class="blue-tr">
                                        <td>Recommended</td>
                                        <td>{{recommended.oneyear}}%</td>
                                        <td>{{recommended.threeyear}}%</td>
                                        <td>{{recommended.fiveyear}}%</td>
                                    </tr>
                                    <tr class="total-tr">
                                        <td style="color: #000034">Differences</td>
                                        <td class="gain-green">{{diffrence.oneyear}}%</td>
                                        <td class="gain-green">{{diffrence.threeyear}}%</td>
                                        <td class="loss-red">{{diffrence.fiveyear}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="block-container chart-wrapper semi-block">
                    <div class="graph-labels display-contents">
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="block-container chart-wrapper semi-block">
                            <div class="graph-labels display-contents">
                            </div>
                            <div class="hpd-table heading">
                                <h3>Line Chart</h3>
                            </div>
                            <div *ngIf="linedata?.length > 0">
                                <google-chart [title]="linetitle" [type]="linetype" [data]="linedata" [options]="lineoptions"
                                    [width]="linewidth" [height]="lineheight" [columnNames]="linecolumnNames">
                                </google-chart>
                            </div>
                            <div *ngIf="linedata?.length <= 0" style="text-align:center ; color: red">
                                Data not found
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>