<div class="right-panel-wrap no-padding-right">
    <!-- Fund content -->
    <div class="dashboard-content">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div
                    class="block-container chart-wrapper donut-chart-wrap semi-block d-flex align-items-center justify-content-center flex-wrap">
                    <div class="head-global head-full">
                        <h3>Current<span>Allocation</span></h3>
                    </div>
                    <div class="graph-labels label-left">
                        <ul>
                            <li><span class="plot-5"></span>Short Term Treasury Bonds : 5%</li>
                            <li><span class="plot-6"></span>Tips : 6%</li>
                            <li><span class="plot-7"></span>U.S. Investment Grade Bonds : 24%</li>
                            <li><span class="plot-8"></span>Emerginy Mkt Bonds : 3%</li>
                            <li><span class="plot-9"></span>Emerginy Mkt Equities: 13%</li>
                            <li><span class="plot-10"></span>Internationals Equities : 14%</li>
                            <li><span class="plot-11"></span>U.S. Equities : 35%</li>
                        </ul>
                    </div>
                    <div class="ct-chart do-nut-chart-allocation"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div
                    class="block-container chart-wrapper donut-chart-wrap semi-block d-flex align-items-center justify-content-center flex-wrap">
                    <div class="head-global head-full">
                        <h3>Recommended <span>Allocation</span></h3>
                    </div>
                    <div class="graph-labels label-left">
                        <ul>
                            <li><span class="plot-5"></span>Short Term Treasury Bonds : 5%</li>
                            <li><span class="plot-6"></span>Tips : 6%</li>
                            <li><span class="plot-7"></span>U.S. Investment Grade Bonds : 24%</li>
                            <li><span class="plot-8"></span>Emerginy Mkt Bonds : 3%</li>
                            <li><span class="plot-9"></span>Emerginy Mkt Equities: 13%</li>
                            <li><span class="plot-10"></span>Internationals Equities : 14%</li>
                            <li><span class="plot-11"></span>U.S. Equities : 35%</li>
                        </ul>
                    </div>
                    <div class="ct-chart do-nut-chart-standard-allocation"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="block-container d-flex align-items-center justify-content-center flex-wrap analysis-wrap">
                    <div class="heading head-full">
                        <h3>Current Allocation</h3>
                    </div>
                    <div class="responsive-table">
                        <table class="trade-table">
                            <thead>
                                <tr>
                                    <th>Last 1-Year</th>
                                    <th>Last 3-Year</th>
                                    <th>Last 5-Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>-1.81</td>
                                </tr>
                                <tr>
                                    <td>0.07</td>
                                    <td>7.81</td>
                                </tr>
                                <tr>
                                    <td>-7.28</td>
                                    <td>16.09</td>
                                    <td>12.59</td>
                                </tr>
                                <tr>
                                    <td>6.45</td>
                                    <td>7.99</td>
                                    <td>8.49</td>
                                </tr>
                                <tr class="blue-tr">
                                    <td>6.45</td>
                                    <td>7.50</td>
                                    <td>6.07</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="block-container d-flex align-items-center justify-content-center flex-wrap analysis-wrap">
                    <div class="heading head-full">
                        <h3>Recommended Allocation</h3>
                    </div>
                    <div class="responsive-table">
                        <table class="trade-table">
                            <thead>
                                <tr>
                                    <th>Last 1-Year</th>
                                    <th>Last 3-Year</th>
                                    <th>Last 5-Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="gain-green">3.12</td>
                                </tr>
                                <tr>
                                    <td class="gain-green">3.12</td>
                                    <td class="gain-green">13.99</td>
                                </tr>
                                <tr>
                                    <td class="gain-green">0.67</td>
                                    <td class="gain-green">17.23</td>
                                    <td class="gain-green">14.35</td>
                                </tr>
                                <tr>
                                    <td class="gain-green">7.51</td>
                                    <td class="gain-green">7.67</td>
                                    <td class="gain-green">8.29</td>
                                </tr>
                                <tr class="blue-tr">
                                    <td>3.65</td>
                                    <td>8.71</td>
                                    <td>6.52</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="block-container d-flex align-items-center justify-content-center flex-wrap analysis-wrap">
                    <div class="heading head-full">
                        <h3>Difference</h3>
                    </div>
                    <div class="responsive-table">
                        <table class="trade-table">
                            <thead>
                                <tr>
                                    <th>Last 1-Year</th>
                                    <th>Last 3-Year</th>
                                    <th>Last 5-Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="loss-red loss-bg-red">-4.93</td>
                                    <td class="gain-green gain-bg-green">0</td>
                                    <td class="gain-green gain-bg-green">0</td>
                                </tr>
                                <tr>
                                    <td class="loss-red loss-bg-red">-3.05</td>
                                    <td class="loss-red loss-bg-red">-6.18</td>
                                    <td class="gain-green gain-bg-green">0</td>
                                </tr>
                                <tr>
                                    <td class="loss-red loss-bg-red">-7.95</td>
                                    <td class="loss-red loss-bg-red">-1.14</td>
                                    <td class="loss-red loss-bg-red">-1.72</td>
                                </tr>
                                <tr>
                                    <td class="loss-red loss-bg-red">-1.06</td>
                                    <td class="gain-green gain-bg-green">0.32</td>
                                    <td class="gain-green gain-bg-green">0.2</td>
                                </tr>
                                <tr>
                                    <td class="loss-red loss-bg-red">-4.58</td>
                                    <td class="loss-red loss-bg-red">-0.68</td>
                                    <td class="loss-red loss-bg-red">-0.2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12"></div>
            <div class="col-lg-6 col-md-12">
                <div class="block-container  chart-wrapper semi-block">
                    <div class="ct-chart analysis-line-chart"></div>
                    <div class="graph-labels">
                        <ul>
                            <li><span class="plot-12"></span>BTC</li>
                            <li><span class="plot-3"></span>ETH</li>
                            <li><span class="plot-9"></span>ERP</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12"></div>
        </div>
    </div>
    <!-- Fund content -->
</div>