*.pyc
*.log
/accounts/migrations/
.idea/
/frontend/FundSmart/node_modules
/frontend/FundSmart/dist/
/frontend/FundSmart/.editorconfig
/portfolios/migrations/
.idea/
/frontend/.DS_Store
.DS_Store

/env_fundsmart
