<div class="right-panel-wrap no-padding-right">
    <!-- Fund content -->

    <div class="dashboard-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-container">
                    <div class="head-global">
                        <h3>Fund <span>Lists</span></h3>
                    </div>
                    <table id="security-table" class="width-100 trade-datatables ">
                        <thead>
                            <tr>
                                <th>Funds</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                            <tr>
                                <td>Fund 2019</td>
                                <td>Mutual Funds</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Fund content -->
</div>