<div class="right-panel-wrap no-padding-right">
    <div class="dashboard-content">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="block-container ">
                    <div class="hpd-table">
                        <div class="heading">
                            <h3>Historical Performance Difference</h3>
                        </div>
                        <div class="responsive-table">
                            <table class="trade-table">
                                <thead>
                                    <th>Portfolio</th>
                                    <th>Annual <br> Expense</th>
                                    <th>1-Year</th>
                                    <th>3-Year</th>
                                    <th>5-Year</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of historical" class="blue-tr">
                                        <td>{{data.name}}</td>
                                        <td>{{data.value['annual_expense'] ? data.value['annual_expense'] : 0}}%</td>
                                        <td>{{data.value['1-year'] ? data.value['1-year'] : 0}}%</td>
                                        <td>{{data.value['3-year'] ? data.value['3-year'] : 0}}%</td>
                                        <td>{{data.value['5-year'] ? data.value['5-year'] : 0}}%</td>
                                    </tr>
                                    <tr *ngFor="let data of total4" class="total-tr">
                                        <td class="gain-green">{{data.name}}</td>
                                        <td class="gain-green">
                                            {{data.value.annual_expense ? data.value.annual_expense : 0}}%</td>
                                        <td class="gain-green">{{data.value['1-year'] ? data.value['1-year'] : 0}}%</td>
                                        <td class="gain-green">{{data.value['3-year'] ? data.value['3-year'] : 0}}%</td>
                                        <td class="gain-green">{{data.value['5-year'] ? data.value['5-year'] : 0}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-12">
                <div class="block-container  chart-wrapper">
                    <div *ngIf="linedata && linedata?.length > 0">
                        <google-chart [type]="linetype" [data]="linedata" [columnNames]="linecolumnNames"
                            [options]="lineoptions" [height]="lineheight" [width]="linewidth">
                        </google-chart>
                    </div>
                    <div *ngIf="linedata?.length <= 0" style="text-align:center">
                        Data not found
                    </div>
                    <!-- <div class="ct-chart analysis-line-chart"></div>
                    <div class="graph-labels">
                        <ul>
                            <li><span class="plot-12"></span>BTC</li>
                            <li><span class="plot-3"></span>ETH</li>
                            <li><span class="plot-9"></span>ERP</li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="block-container chart-wrapper ">
                    <div *ngIf="bardata && bardata?.length > 0">
                        <google-chart [type]="bartype" [data]="bardata" [columnNames]="barcolumnNames"
                            [options]="baroptions" [height]="barheight" [width]="barwidth">
                        </google-chart>
                    </div>
                    <div *ngIf="bardata?.length <= 0" style="text-align:center">
                        Data not found
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="block-container fund-recom-wrap">
                    <div class="head-global">
                        <h3>Portfolio <span>Performance</span></h3>
                    </div>
                    <div class="responsive-table">
                        <table class="trade-table">
                            <thead>
                                <tr class="heading-table">
                                    <th></th>
                                    <th></th>
                                    <th>Portfolio Returns</th>
                                    <th></th>
                                    <th></th>
                                    <th>BenchMark</th>
                                    <th></th>
                                    <th></th>
                                    <th>Difference</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Scheme</th>
                                    <th>Last 1-year</th>
                                    <th>Last 3-year</th>
                                    <th>Last 5-year</th>
                                    <th>Last 1-year</th>
                                    <th>Last 3-year</th>
                                    <th>Last 5-year</th>
                                    <th>Last 1-year</th>
                                    <th>Last 3-year</th>
                                    <th>Last 5-year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of PortfolioPerformance" class="blue-tr">
                                    <td>{{data.scheme ? data.scheme : ''}}</td>
                                    <td>{{data.portfolio_1_year ? data.portfolio_1_year : ''}}</td>
                                    <td>{{data.portfolio_3_year ? data.portfolio_3_year : 0}}</td>
                                    <td>{{data.portfolio_5_year ? data.portfolio_5_year : 0}}</td>
                                    <td class="gain-green">{{data.benchmark_1_year ? data.benchmark_1_year : 0}}</td>
                                    <td>{{data.benchmark_3_year ? data.benchmark_3_year : 0}}</td>
                                    <td>{{data.benchmark_5_year ? data.benchmark_5_year : 0}}</td>
                                    <td class="loss-red loss-bg-red" *ngIf="data.diff_1_year < 0">
                                        {{data.diff_1_year ? data.diff_1_year : 0}}</td>
                                    <td class="gain-green gain-bg-green" *ngIf="data.diff_1_year >= 0">
                                        {{data.diff_1_year ? data.diff_1_year : 0}}</td>
                                    <td class="loss-red loss-bg-red" *ngIf="data.diff_3_year < 0">
                                        {{data.diff_3_year ? data.diff_3_year : 0}}
                                    <td class="gain-green gain-bg-green" *ngIf="data.diff_3_year >= 0">
                                        {{data.diff_3_year ? data.diff_3_year : 0}}
                                    </td>
                                    <td class="loss-red loss-bg-red" *ngIf="data.diff_5_year < 0">
                                        {{data.diff_5_year ? data.diff_5_year : 0}}
                                    <td class="gain-green gain-bg-green" *ngIf="data.diff_5_year >= 0">
                                        {{data.diff_5_year ? data.diff_5_year : 0}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="block-container fund-recom-wrap">
                    <div class="head-global">
                        <h3>Recommended <span>Performance</span></h3>
                    </div>
                    <div class="responsive-table">
                        <table class="trade-table">
                            <thead>
                                <tr class="heading-table">
                                    <th></th>
                                    <th></th>
                                    <th>Portfolio Returns</th>
                                    <th></th>
                                    <th></th>
                                    <th>BenchMark</th>
                                    <th></th>
                                    <th></th>
                                    <th>Difference</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Scheme</th>
                                    <th>Last 1-year</th>
                                    <th>Last 3-year</th>
                                    <th>Last 5-year</th>
                                    <th>Last 1-year</th>
                                    <th>Last 3-year</th>
                                    <th>Last 5-year</th>
                                    <th>Last 1-year</th>
                                    <th>Last 3-year</th>
                                    <th>Last 5-year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of RecommendedPerformance" class="blue-tr">
                                    <td>{{data.scheme ? data.scheme : ''}}</td>
                                    <td>{{data.portfolio_1_year ? data.portfolio_1_year : ''}}</td>
                                    <td>{{data.portfolio_3_year ? data.portfolio_3_year : 0}}</td>
                                    <td>{{data.portfolio_5_year ? data.portfolio_5_year : 0}}</td>
                                    <td class="gain-green">{{data.benchmark_1_year ? data.benchmark_1_year : 0}}</td>
                                    <td>{{data.benchmark_3_year ? data.benchmark_3_year : 0}}</td>
                                    <td>{{data.benchmark_5_year ? data.benchmark_5_year : 0}}</td>
                                    <td class="loss-red loss-bg-red" *ngIf="data.diff_1_year < 0">
                                        {{data.diff_1_year ? data.diff_1_year : 0}}</td>
                                    <td class="gain-green gain-bg-green" *ngIf="data.diff_1_year >= 0">
                                        {{data.diff_1_year ? data.diff_1_year : 0}}</td>
                                    <td class="loss-red loss-bg-red" *ngIf="data.diff_3_year < 0">
                                        {{data.diff_3_year ? data.diff_3_year : 0}}
                                    <td class="gain-green gain-bg-green" *ngIf="data.diff_3_year >= 0">
                                        {{data.diff_3_year ? data.diff_3_year : 0}}
                                    </td>
                                    <td class="loss-red loss-bg-red" *ngIf="data.diff_5_year < 0">
                                        {{data.diff_5_year ? data.diff_5_year : 0}}
                                    <td class="gain-green gain-bg-green" *ngIf="data.diff_5_year >= 0">
                                        {{data.diff_5_year ? data.diff_5_year : 0}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>