<div class="right-panel-wrap no-padding-right">
  <div class="dashboard-content">
    <div class="row">
      <div class="col-lg-7 pr-0">
        <div class="block-container">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="security-table" width="100%"
            class=" row-border hover table table-responsive">
            <thead>
              <tr>
                <th> Security </th>
                <th> Your Portfolio </th>
                <th> Comparision 1 </th>
                <th> Comparision 2 </th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of funds$  ;let i = index;">
                <td>
                  <input [(ngModel)]="item['security']" id='security_{{i}}'
                    (keyup)="searchsecurity($event,item['security'],item)" list="securityname" name='security_{{i}}'
                    (input)='serAttribute(item,i)' type="text">
                  <datalist id="securityname">
                    <option *ngFor="let security of securitylist;let d = index" data-value='{{security.name}}'
                      data-id={{security.id}}>
                      {{security.name}} Isin:{{security.isin}}
                      Ticker:{{security.ticker}}
                    </option>
                  </datalist>
                </td>
                <td>
                  <input [(ngModel)]="item['yourPortfolio']" style="text-align: center ;width: 3cm"
                    (keypress)="numberOnly($event,item['yourPortfolio'])" (input)="addportfolioFund('portfolio',item)"
                    name='portfolio_{{i}}' type="text" maxlength="10"
                    [disabled]="item.security_id <= 0 ?  'disabled' : null ">
                </td>
                <td>
                  <input [(ngModel)]="item['comparision1']" name='comp1_{{i}}' style="text-align: center ; width: 3cm"
                    (keypress)="numberOnly($event,item['comparision1'])" (input)="addportfolioFund('comp1',item)"
                    type="text" [disabled]="item.security_id <= 0 ?  'disabled' : null ">
                </td>
                <td>
                  <input [(ngModel)]="item['comparision2']" style="text-align: center ; width: 3cm"
                    (input)="addportfolioFund('comp2',item)" name='comp2_{{i}}'
                    (keypress)="numberOnly($event,item['comparision2'])" type="text"
                    [disabled]="item.security_id <= 0 ?  'disabled' : null ">
                </td>
                <td>
                  <button type="button" class="btn btn-outline-danger"
                    (click)="removeRow(item.p1record,i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>