<!-- right panel -->
<div class="right-panel-wrap no-padding-right">
  <!-- Dashboard content -->
  <div class="dashboard-content">
    <div class="row">
      <div class="col-lg-7 ">
        <div class="block-container">
          <table class="width-100 trade-datatables ">
            <thead>
              <tr>
                <th scope="col" >Security</th>
                <th scope="col" >Your Portfolio</th>
                <th scope="col" >Comparison1</th>
                <th scope="col">Comparison2</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of portfolio_ids">
                <td>{{item.security_name}}</td>
                <td *ngFor="let i of item.portfolios">{{i.quantity}}</td>
              <!-- <td *ngIf="item.portfolio_ids[0] === item.portfolios."></td>//check items portfolio list -->
              <!-- <td></td> -->
              <!-- <td></td> -->

          <!--    </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>